<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .card {
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
        }
    </style>
</head>
<body>
    {{>navbar}}
    <div class="card" style="width: 18rem; text-align :center" >
        <img class="card-img-top" src="https://media.istockphoto.com/vectors/male-profile-flat-blue-simple-icon-with-long-shadow-vector-id522855255?k=20&m=522855255&s=612x612&w=0&h=fLLvwEbgOmSzk1_jQ0MgDATEVcVOh_kqEe0rqi7aM5A=" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><strong>Nishant</strong></h5>
          <p class="card-text">Competitive Programmer and Full Stack Web Developer</p>
          <a href="#" class="btn btn-primary">Contact Details</a>
        </div>
      </div>    
    
</body>
</html>